.header-container {
  background-color: #202020;
  justify-content: center;
  padding: 0.5rem 0;
  width: 100%;

  .active {
    color: #f0141e;
  }

  .active:hover {
    color: #eeeeee;
  }

  nav {
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 50%;

    img {
      width: 6rem;
    }

    ul {
      display: flex;
      gap: 45px;
    }

    li {
      display: inline;
    }

    a {
      color: #eeeeee;
      cursor: pointer;
      font-family: "Roboto", serif;
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      transition: all 0.4s;
    }

    a:hover {
      color: #f0141e;
    }
  }
}

footer {
  justify-content: space-around;
  align-items: center;
  height: 2.5rem;
  background-color: #202020;
  color: #666666;

  img {
    margin-right: 2.6rem;
    height: 0.9rem;
  }

  p {
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 300;
    transition: all 0.4s;
  }

  p:hover {
    color: #eeeeee;
  }
}
