<%- include("partials/head") %>
  <main class="landing-container column">
    <div class="column">
      <img src="/images/marvel-logo.svg" alt="Marvel brand logo">
      <p>Cronologia do Universo Cinematográfico da Marvel</p>
    </div>
    <div class="row">
      <a href="/movies">
        <button type="button">Filmes</button>
      </a>
      <button type="button">Séries</button>
    </div>
  </main>
<%- include("partials/footer") %>