<%- include("partials/head") %>
  <%- include("partials/header") %>
  <main class="mcu-main column">
    <section class="mcu-container row">
      <p><%= movie.title %></p>
    </section>
  </main>
<%- include("partials/feet") %>