<header class="header-container row">
  <nav class="row">
    <a href="/">
      <img src="/images/marvel-logo.svg" alt="Marvel brand logo">
    </a>
    <ul>
      <li><a class="active">Filmes</a></li>
      <li><a>Séries</a></li>
    </ul>
  </nav>
</header>