<header class="header-container row">
  <nav class="row">
    <a href="/">
      <img src="/images/marvel-logo.svg" alt="Marvel brand logo">
    </a>
    <ul>
      <li><a class="nav-link" href="/movies">Filmes</a></li>
      <li><a class="nav-link" href="/series">Séries</a></li>
    </ul>
  </nav>
</header>